body{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    overflow-x: hidden;
    
}
.calBorder{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: gray;
    height: fit-content;
    
}
.numScreen{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}
#screen{
    padding-left: 3%;
    font-size: 4vh;
}
.buttons{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    color: red; 
}
.col1{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
}
.col2{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
}
.col3{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
}
.symbols{
    display: flex;
    flex-direction: column; 
    flex-shrink: 1;
}
.buttons button{
    background: none;
    color: none;
    
    border: border;
    border-style: solid ;
    font-size: 6vw;
    font: Ethnocentric Rg;
    cursor: pointer;
    outline: inherit;
}
.symbols button{
    background: none;
    color: none;
    border: border;
    border-style: solid ;
    font-size: 4vw;
    font: Ethnocentric Rg;
    cursor: pointer;
    outline: inherit;
}
.AnimationBorder{
    display: flex;    
}
.background{
    display: flex;
    display: none;
    flex-direction: row;
}

@media(max-width: 500px){
    .buttons button{
        background: none;
    color: none;
    border: border;
    border-style: solid ;
    font-size: 6em;
    padding: 0;
    font: Ethnocentric Rg;
    cursor: pointer;
    outline: inherit;
    }
    .symbols button{
        background: none;
        color: none;
        border: border;
        border-style: solid ;
        font-size: 4em;
        padding: 0;
        font: Ethnocentric Rg;
        cursor: pointer;
        outline: inherit;
    }
    #screen{
        font-size: 4vh;
    }
    body{
        margin-top: 15%;
    }
}